.twpx-b24a-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: #fff;
  font-size: 10px;
  background-color: #2900e0;
  background-image: url(images/arrow.svg);
  background-repeat: no-repeat;
  background-position: 11px 9px;
  border-radius: 50%;
  z-index: 10;
}
.twpx-b24a-back:hover {
  opacity: 0.7;
  background-color: #2900e0;
}
.twpx-b24a-back span {
  display: none;
}
.twpx-b24a-back svg {
  display: block;
}
.twpx-b24a-back.twpx-b24a--loading {
  background-image: none;
  padding: 0;
}
.twpx-b24a-page-content a.twpx-b24a-back:active {
  background-color: #2900e0;
}
.twpx-b24a-to-main {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  z-index: 10;
}
.twpx-b24a-to-main img {
  width: 32px;
  height: 32px;
}
.twpx-b24a-to-main.twpx-b24a--loading {
  background-color: #2900e0;
}
.twpx-b24a-exit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  font-size: 10px;
  background-color: #2900e0;
  padding: 0 20px;
  border-radius: 16px;
  z-index: 10;
}
.twpx-b24a-exit:hover {
  opacity: 0.7;
  background-color: #2900e0;
}
.twpx-b24a-page-content a.twpx-b24a-exit,
.twpx-b24a-page-content a.twpx-b24a-exit:hover {
  color: #fff;
}
.twpx-b24a-page-content a.twpx-b24a-exit:active {
  background-color: #2900e0;
}